<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments :: header"  th:with="title=${Reset}">
</div>
<body>
	<div>
		<div th:replace="fragments :: menu"></div>
		<div class="content-holder">
			<div data-en-type="page-title" th:inline="text">Store Assignment</div>
- 			<form method="post" th:object="${assignStore}" th:action="@{/assign-store}">
				<div class="form">
					<div class="form-item">
						<div class="form-element">User: </div>
						 <select class="form-element" th:field="*{userId}">
						 	<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.firstName}"></option>
						 </select>
					</div>
					<div class="form-item">
						<table id="stores-table">
							<tr>
								<th>Name</th>
								<th>Type</th>
							</tr>
							<tr th:each="store : ${stores}" th:id="${store.id}">
								<td th:inline="text">[[${store.name}]]</td>
								<td th:inline="text">[[${store.type}]]</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="form-element"><input type="submit" ></div>
			</form>
		</div>
		<div style="clear: both;"></div>
	</div>
</body>
<div th:replace="fragments :: scripts"></div>
</html>

