<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments :: header"  th:with="title=${Reset}">
</div>
<body>
	<div>
		<div th:replace="fragments :: menu"></div>
		<div class="container">
	
		<form id ="logout-form" th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="logout"
				type="Submit">Logout</button>
		</form> 		
	</div>
		<div style="clear: both;"></div>
	</div>
</body>
<div th:replace="fragments :: scripts"></div>
<script type="text/javascript">
	$("#logout-form").click(function() {
		if (confirm('Are you sure you want to Logout ?')) { // Standard confirmation message.						
			$("#logout-form").submit();
		}

	});
</script>
</html>

