<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments :: header"  th:with="title=${Reset}">
</div>
<body>
	<div>
		<div th:replace="fragments :: menu"></div>
		<div class="content-holder">
			<div data-en-type="page-title" th:inline="text">Reset Password</div>
			<form method="post" th:object="${resetPassword}" th:action="@{/reset-password}">
				<div class="form">					
					<div class="form-item">
						<div class="form-element">Old Password: </div>
						<input class="form-element" type="text" th:field="*{oldPassword}"/>
						<label th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></label>
					</div>
					<div class="form-item">
						<div class="form-element">New Password: </div>
						<input class="form-element" type="text" th:field="*{newPassword}"/>
						<label th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></label>
					</div>
					<div class="form-item">
						<div class="form-element">Confirm New Password: </div>
						<input class="form-element" type="text" th:field="*{confirmNewPassword}"/>
					</div>
				</div>
				<div class="form-element"><input type="submit" ></div>
			</form>
		</div>
		<div style="clear: both;"></div>
	</div>
</body>
<div th:replace="fragments :: scripts"></div>
</html>

