<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments :: header"></div>
<body>
	<div>
		<div th:replace="fragments :: menu"></div>
		<div class="content-holder">
			<div data-en-type="page-title" th:inline="text">Add User</div>
			<form method="post" th:object="${user}" th:action="@{/user}">
				<div class="form">
					<div class="form-item">
						<div class="form-element">First Name: </div>
						<input class="form-element" type="text" th:field="*{firstName}"/>
						<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" ></label>
					</div>
					<div class="form-item">
						<div class="form-element">Last Name: </div>
						<input class="form-element" type="text" th:field="*{lastName}"/>
					</div>
					<div class="form-item">
						<div class="form-element">Email: </div>
						<input class="form-element" type="text" th:field="*{email}"/>
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
					</div>
					<div class="form-item">
						<div class="form-element">Phone: </div>
						<input class="form-element" type="text" th:field="*{phone}"/>
						<label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></label>
					</div>
					<div class="form-item">
						<div class="form-element">Address: </div>
						<input class="form-element" type="text" th:field="*{address}"/>
					</div>
					<div class="form-item">
						<div class="form-element">Admin:</div>
						<input class="form-element" type="checkbox" th:field="*{admin}"/>
					</div>
					<div class="form-item">
						<div class="form-element">Planner:</div>
						<input class="form-element" type="checkbox" th:field="*{planner}"/>
					</div>
					<div class="form-item">
						<div class="form-element">User:</div>
						<input class="form-element" type="checkbox" th:field="*{user}"/>
					</div>
					<span th:if="${#fields.hasErrors('admin')}" th:utext="${roleErrorMessage}"></span>
					
				</div>
				<div class="form-element"><input type="submit" ></div>
			</form>
		</div>
		<div style="clear: both;"></div>
	</div>
</body>
<div th:replace="fragments :: scripts"></div>
</html>

