@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #e5e5e7;
  color: #333;
}

.menu-holder {
	float: left;
	min-width: 200px;
	margin: 10px;
}
.content-holder {
	float: left;
	min-width: 200px;
	margin: 10px;
	margin-top: 20px;
}

.accordion {
  list-style: none;
  padding: 0;
}
.accordion .accordion-inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
  list-style: none;
}
.accordion  .accordion-inner.show {
  /*display: block;*/
}
.accordion li {
  margin: .5em 0;
}
.accordion  li a.toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
.accordion  li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}
