<head th:fragment="header">
<title>Vasumati Inventory Manager <div th:text="${title}"></div></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen" th:href="@{/css/style.css}" />
</head>

<p th:fragment="scripts">
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
	<script type="text/javascript" th:src="@{/js/einsicht-inventory.js}"></script>
</p>

<div class="menu-holder" th:fragment="menu">
	<ul class="accordion" data-en-type="accordian">
		<li><a class="toggle" data-en-type="accordian-button"
			href="javascript:void(0);">Home</a>
			<ul class="accordion-inner">
				<li><a href="/page/logout">Logout</a></li>
				<li><a href="/reset-password">Reset Password</a></li>
			</ul></li>

		<li><a class="toggle" data-en-type="accordian-button"
			href="javascript:void(0);">Configuration</a>
			<ul class="accordion-inner">
				<li><a href="/users">Users</a></li>
				<li><a href="/page/roles">Roles</a></li>
				<li><a href="/stores">Stores</a></li>
				<li><a href="/page/assign-store">Store Assignment</a></li>
				<li><a href="/page/items">Items</a></li>
				<li><a href="/page/bom">BOM</a></li>
			</ul></li>

		<li><a class="toggle" data-en-type="accordian-button"
			href="javascript:void(0);">Inventory</a>
			<ul class="accordion-inner">
				<li><a href="/page/inward">Inward</a></li>
				<li><a href="/page/transfer">Transfer</a></li>
				<li><a href="/page/wastages">Wastage</a></li>
				<li><a href="/page/shortages">Shortage</a></li>
				<li><a href="/page/assembly">Assembly</a></li>
				<li><a href="/page/breakup">BreakUp</a></li>
				<li><a href="/page/outward">Outward</a></li>
			</ul></li>

		<li><a class="toggle" data-en-type="accordian-button"
			href="javascript:void(0);">Planning</a>
			<ul class="accordion-inner">
				<li><a href="/page/orders">Orders</a></li>
				<li><a href="/page/invoices">Invoices</a></li>
			</ul></li>

		<li><a class="toggle" data-en-type="accordian-button"
			href="javascript:void(0);">Reports</a>
			<ul class="accordion-inner">
				<li><a href="/page/real">Real Time Inventory</a></li>
				<li><a href="/page/rejectionreports">Rejections</a></li>
				<li><a href="/page/orderreports">Orders</a></li>
				<li><a href="/page/invoicereports">Invoices</a></li>
				<li><a href="/page/shortagereports">Shortages</a></li>
				<li><a href="/page/wastagereports">Wastages</a></li>
				<li><a href="/page/storestatements">Store Statements</a></li>
			</ul></li>
	</ul>
</div>


